{% extends "base.html" %}

{% block page_title %}
Conversation
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
{% if bookings %}
<H1> Pending</H1>
<div class="container-fluid"> 
<div class="flex-row flex-wrap" style="display: flex; justify-content: space-evenly;">
    
    {% for reservation in bookings %}
    {% if reservation.status == "pending" %}
    <div class="border mt-5" style="width: 360px; height: auto">
        <a href="{% url 'reservations:detail' reservation.pk %}">
        <span class="text-center block text-lg font-medium"> Details</span>
        <div class="text-center">
            {{reservation.room.name}}
            <div class=" items-center">
                <span class="mt-2 text-gray-500">{{reservation.guest}}</span>
            </div>
            <div class=" items-center">
                <span class="mt-2 text-gray-500">{{reservation.check_in}} - {{reservation.check_out}}</span>
            </div>
            
            <span class="font-medium text-2xl">{{reservation.status}}</span>
            
        </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>
<H1> Confirmed</H1>
<div class="container-fluid"> 
<div class="flex-row flex-wrap" style="display: flex; justify-content: space-evenly;">
    
    {% for reservation in bookings %}
    {% if reservation.status == "confirmed" %}
    <div class="border mt-5" style="width: 360px; height: auto">
        <a href="{% url 'reservations:detail' reservation.pk %}">
        <span class="text-center block text-lg font-medium"> Details</span>
        <div class="text-center">
            {{reservation.room.name}}
            <div class=" items-center">
                <span class="mt-2 text-gray-500">{{reservation.guest}}</span>
            </div>
            <div class=" items-center">
                <span class="mt-2 text-gray-500">{{reservation.check_in}} - {{reservation.check_out}}</span>
            </div>
            
            <span class="font-medium text-2xl">{{reservation.status}}</span>
            
        </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>
    {% else %}
</div>
    
    <h1>No Reservations to display</h1>
</div>

{% endif %}

{% endblock %}